fastapi
uvicorn
pydantic
pymongo
motor
python-dotenv
python-multipart
supabase
xhtml2pdf==0.2.11   # versión estable sin rlpycairo
reportlab==4.2.5   # motor PDF necesario
Pillow>=9.5.0       # para imágenes
svglib!=1.6.0
jinja2
fastapi-mail
google-genai
minio